<article>
  <header>
    <h1><%= @event.name %></h1>
  </header>
  <p>
    <h3>When</h3>
    <%= @event.starts_at %>
  </p>
  <h3>Where</h3>
  <p>
    <%= @event.location %>
  </p>

  <h3>Event Description</h3>
    <p>
      <%=@event.description%>
    </p>
</article>
