.bundle
db/*.sqlite3
log/*.log
log/*.lck
solr/pids
solr/hoteltonight/data
tmp
tags
.tags*
.idea
.rake_tasks
.yardoc
public/api/**/*
public/system
public/assets
nbproject
**/.DS_Store
*.sublime-project
*.sublime-workspace
TAGS
*.swp
.sass-cache/
coverage/
engines/**/spec/dummy/log
.eyrc
ServicesProcfile
