  <% if @event.errors.any? %>
    <section>
      <header>
        <h2 class="errors">Oops! Your form could not be saved.</h2>
        <h3 class="errors">Please correct the following
        <%= pluralize(@event.errors.count, "error") %>:
        </h3>
      </header>
      <ul>
        <% @event.errors.full_messages.each do | message | %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </section>
    <% end %>
